

/* HeroArea */
.heroarea{
    background: url("../img/home/heroarea.png") no-repeat;
    background-size: cover;
}
.heroarea .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 80px auto 0;
    height: 596px;
    padding: 60px 15px;
}
.heroarea .container .chamada{
    flex: 0 1 60%;
    margin-right: 40px;
}
.heroarea h1 span{
    color:#FDBF0D;
}
.heroarea .lista_servicos li .btn{
    color:#fff;
}
.heroarea .lista_servicos .icon_servico{
    max-width: 24px;
    max-height: 24px;
    fill: #fff;
    margin-right: 10px;
}
.heroarea .lista_servicos .icon_seta{
    max-width: 16px;
    max-height: 16px;
    fill: #fff;
    margin-left: 10px;
}
.heroarea  .lista_servicos {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;    
    gap: 32px;
    max-width: 500px;
}

.heroarea  .lista_servicos li{
    width: 227px;
}
.heroarea  .lista_servicos li::after{
    content: "";
    width: 56px;
    height: 2px ;
    display: block;
    margin: 10px 0;
    background: #FDBF0D;
}
.heroarea .card .detalhes{
    display: flex;
    flex-direction: column;
    min-width: 405px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
    padding-top: 30px;
}
.heroarea .slide_itens svg{
    max-width: 20px;
    max-height: 20px;
    fill: #003A69;
}
.heroarea .card .text_img{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}
.heroarea .card .tag{
    align-self: center;
    width: 327px;
    height: 55px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 58, 105, 0.19);
    border-radius: 5px;
}
.heroarea .card .tag_descricao{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.heroarea .card .tag_categoria{
    height: 58px;
    background: #FDBF0D;
}
.heroarea .card .button {
    position: absolute;
    top: 484px;
    width: 405px;
    
    display: flex;
    justify-content: space-between;
}
.heroarea .card .button button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 30px;
}
.heroarea .card .background{
    position: absolute;
    margin: -120px -90px;
}

/* slide card */
.slide_itens > *, .tag_servico{
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
}
.slide_itens > .active, .tag_servico.active{
    position: relative;
    opacity: 1;
    pointer-events: initial;
}

/* Servicos */
.servicos .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.servicos h2 {
    text-align: center;
    margin-bottom: 32px;
    color: #003A69;
}
.servicos .card_servico, .servicos .card_text{
    max-width: 380px;
    min-width: 360px;
    height: 400px;

    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}
.servicos .card_text{
    justify-content: center;
}
.servicos .card_servico{
    padding: 30px;
    border: 1px solid  #D7D7D7 ;
    border-radius: 10px;
    align-items: flex-start;
}
.servicos .card_servico .icone{  
    background: #F2F5F7;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 20px;
}
.servicos .card_servico svg{
    width: 40px;
    height: 40px;
    fill: #003A69;
}
.servicos .card_servico p{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;

}
.servicos .card_servico .button{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

/* Solicite Orcamento */
.solicite_orcamento{
    height: 150px;
    background: #003A69;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 16px;
}

/* Sobre Nos */
.sobre_nos .texto_gif{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.sobre_nos .textos h2{
    color: #003A69;
}
.sobre_nos .textos{
    max-width: 481px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.sobre_nos .textos a{
    margin-top: 16px;
}
.sobre_nos .clientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 42px
}
.sobre_nos .clientes h4{
    max-width: 532px;
    text-align: center;
}
.sobre_nos .logotipos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
}

