/* Header */

.header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.06);
}

.header .container{
    max-width:1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    height: 50px;
}
.header_menu ul{
    display: flex;
}
.header_menu a{
    padding: 10px;
}


/* HeroArea */
.heroarea{
    background: url("../img/home/heroarea.png") no-repeat;
    background-size: cover;
}
.heroarea .container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 80px auto 0;
    height: 596px;
    padding: 60px 15px;
}
.heroarea .container .chamada{
    flex: 0 1 60%;
    margin-right: 40px;
}
.heroarea h1 span{
    color:#FDBF0D;
}
.heroarea .lista_servicos li .btn{
    color:#fff;
}
.heroarea .lista_servicos .icon_servico{
    max-width: 24px;
    max-height: 24px;
    fill: #fff;
    margin-right: 10px;
}
.heroarea .lista_servicos .icon_seta{
    max-width: 16px;
    max-height: 16px;
    fill: #fff;
    margin-left: 10px;
}
.heroarea  .lista_servicos {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;    
    gap: 32px;
    max-width: 500px;
}

.heroarea  .lista_servicos li{
    width: 227px;
}

.heroarea  .lista_servicos li::after{
   content: "";
    display: block;
    margin: 10px 0;
    width: 56px;
    height: 2px;
    background: #FDBF0D;
}

.heroarea .card{
    display: flex;
    flex-direction: column;
    height: 353px;
    min-width: 405px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    margin: 0 auto;
}
.heroarea .card .detalhes{
    display: flex;
    flex-direction: column;
    height: 353px;
    min-width: 405px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    margin: 0 auto;
}
.heroarea .card svg{
    max-width: 20px;
    max-height: 20px;
    fill: #003A69;
}

.heroarea .card .text_img{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}
.heroarea .card .tag{
    width: 327px;
    height: 55px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 58, 105, 0.19);
    border-radius: 5px;
}
.heroarea .card .tag_descricao{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.heroarea .card .carrosel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    flex-direction: row;
    background: #FDBF0D;
}
.heroarea .card .carrosel a{
    padding: 25px 20px 20px;
}
.heroarea .card .background{
    position: absolute;
    margin: -120px -90px;
}

/* slide card */
.slide_itens{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide_itens > *, .tag_servico{
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
}
.slide_itens > .active, .tag_servico.active{
    position: relative;
    opacity: 1;
    pointer-events: initial;
}

/* Servicos */
.servicos .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.servicos h2 {
    text-align: center;
    margin-bottom: 32px;
}
.servicos .card_servico, .servicos .card_text{
    max-width: 380px;
    min-width: 360px;
    height: 400px;

    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;

}
.servicos .card_text{
    justify-content: center;
}
.servicos .card_servico{
    padding: 30px;
    border: 1px solid  #D7D7D7 ;
    border-radius: 10px;
    align-items: flex-start;
}
.servicos .card_servico .icone{  
    background: #F2F5F7;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 20px;
}
.servicos .card_servico svg{
    width: 40px;
    height: 40px;
    fill: #FDBF0D;
}
.servicos .card_servico p{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;

}
.servicos .card_servico .button{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

/* Solicite Orcamento */
.solicite_orcamento{
    height: 150px;
    background: #003A69;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 16px;
}

/* Sobre Nos */
.sobre_nos .texto_gif{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.sobre_nos .textos{
    max-width: 481px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.sobre_nos .textos a{
    margin-top: 16px;
}
.sobre_nos .clientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 42px
}
.sobre_nos .clientes h4{
    max-width: 532px;
    text-align: center;
}
.sobre_nos .logotipos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
}

/* Contato */

.contato{
    width: 100%;
    padding: 60px;
    background: #2B3B4B;
    color: #fff;
}
.contato .container{
    max-width: 990px;
    height: 484px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contato .dados_contatos{
    display: flex;
    flex-direction: column;
}
.contato .container .informacoes h4{
    margin-bottom: 16px;
}
.contato .container .informacoes .social{
    margin-right: 16px;
}
.contato .dados_contatos h2{
    color: #fff;
    max-width: 430px;
}
.contato .dados_contatos h3{
    margin: 16px 0 120px;
}
.contato .dados_contatos h4{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}


/* Contato_input */
.contato .container .dados_input{
    display: flex;
    flex-direction: column;
    gap:16px
}
.contato .dados_input input, .contato .dados_input textarea{
    background: #F2F5F7;
    border-bottom: 2px solid #FDBF0D;
    border-radius: 4px 4px 0px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #003A69;
}
.contato .dados_input input{
    width: 386px;
    height: 56px;
    padding: 0  0 0 45px;
}
.contato .dados_input img {
    position: absolute;
    padding: 15px;
}
.contato .dados_input textarea{
    padding: 20px ;
}
.contato .dados_input input::placeholder, .contato .dados_input textarea::placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #003A69;
}
.contato .dados_input input:focus, .contato .dados_input textarea:focus{
    background: #FDEBBA;
}

/* Blog */

.blog_chamada h2{
    margin-bottom: 16px;
}
.blog_chamada h3{
    margin-bottom: 32px;
}

.blog_chamada .artigos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.blog_chamada .artigos .card{
    max-width: 380px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex: 1;
    gap: 8px;
}
.blog_chamada .artigos .card img{
    border: 1px solid #C8C8C8;
}

.blog_chamada .artigos .card p, .blog_chamada .artigos .card h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.blog_chamada .artigos .card p{
    -webkit-line-clamp: 3;
    min-height: 75px;
}
.blog_chamada .artigos .card h4{
    -webkit-line-clamp: 2;
    min-height: 57px;
}

.footer{
    background: url("../img/Footer_background.jpg") no-repeat;
    background-size: cover;
}
.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 410px;
    max-width: 1200px;
    padding: 60px 15px;
    margin: 0 auto;
    color: #fff;
}
.footer .container .footer_contato{
    width: 380px;
}
.footer .container .footer_contato .informacoes h4{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    margin: 16px 0;
}
.footer .container .footer_contato .social{
    margin-right: 16px;
}
.footer .container .footer_links ul{
    padding: 16px 0;
}
.footer .container .footer_links ul a{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}
.footer .dados{
    display: flex;  
    gap: 80px;  
}